.app {
    max-width: 720px;
    margin: auto;
}

.topbar {
    display: flex;
    gap: 12px;
    align-items: center;

    margin-top: 8px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}